
 /* .containerMax {
    max-width: 1200px;
  } */
.cardImgTop {
  max-width: 30rem;
}
.cardImg {
  max-width: 6rem;
 
}
/* .containerMax {
  max-width: 1400px;
} */

.cardImg:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.productDisplayRightPrice {
  display: flex;
  font-size: 24px;
  font-weight: 700;
}
.productDisplayRightPriceLast {
  text-decoration: line-through;
  color: rgb(146, 146, 146);
  font-size: 20px;
  font-weight: 700;
}
.productDisplayRightTalleBtn {
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: rgb(55, 55, 235);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}
.form-select {
  width: 80% !important;
}
/* .checketRadio {
    border: solid grey 2px;
    padding: 2.5px;
    border-radius: 5px;
    cursor: pointer; */
/* } */
.checketRadio input + label {
    border: solid 2px grey;
  padding: 2px;
  border-radius: 5px;
}
.checketRadio input:checked + label {
 
  border: solid 2px blue;
  padding: 2px;
  border-radius: 5px;
}
.inputNumber {
    border: solid 2px blue;
  padding: 2px;
  border-radius: 5px;
}

.publicidadPageProduct {
  background-image: url("../../assets/img/publicidadadidas.png");
  height: 50rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.borderBotton {
  border-bottom: 2px solid black;
  width: 90%;
}
@media (min-width: 767.98px) and (max-width: 991px) {
  .cardImgTop {
    max-width: 34rem;
  }
  .cardImg {
    max-width: 8rem;
  }
  .cardImg:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
}
@media (min-width: 991px) and (max-width: 1024px){
  .cardImgTop {
    max-width: 32rem;
  }
  .cardImg {
    max-width: 8rem;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .cardImgTop {
    max-width: 34rem;
  }
  .cardImg {
    max-width: 8rem;
  }
  .cardImg:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .productDisplayRightTalleBtn {
    padding: 10px 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .cardImgTop {
    max-width: 36rem;
  }
  .cardImg {
    max-width: 9rem;
  }
}
